*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color:bisque;
    overflow-x: hidden;
}

h1 {
    color: darkred;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    text-align: center;
    background-color:lemonchiffon;
    padding: 1rem;
    margin: 0;
    border: 2px solid darkred;
}

#snippets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 25vh;
    grid-gap: 10px;
    padding: 10px;
}

.snippet {
    display: flex;
    flex-direction: column;
    background-color: lemonchiffon;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0;
    border: 2px solid darkred;
}

.buttons {
    width: 100%;
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.copy-button, #save-snippet-button {
    font-size: 1.2rem;
    color: lemonchiffon;
    background-color: darkred;
    flex-grow: 1;
    border-right: 2px solid darkred;
    border-radius: 0;
    padding: 0.2rem;
    transition: all 300ms ease-in-out;
}

.delete-button {
    background-color: lemonchiffon;
}

.snippet-text {
    flex-grow: 1;
    padding: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
}

#input-area {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    transition: right 300ms ease-in-out;
}

#hide-input-area-button {
    position: absolute;
    bottom: 100%;
    background-color: darkred;
    color: lemonchiffon;
    padding: 0.2rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#input-area.hidden {
    right: -200px;
}

#fab {
    position: absolute;
    bottom: 100px;
    right: 100px;
    transform: translate(50%, 50%);
    height: 50px;
    width: 50px;
    display: flex;
    place-items: center;
    place-content: center;
    font-size: 3rem;
    border-radius: 50%;
    background-color: darkred;
    color: lemonchiffon;
    box-shadow: 3px 3px 5px black;
    transition: all 300ms ease-in-out;
}

#fab:hover, .copy-button:hover, #save-snippet-button:hover {
    color: darkred;
    background-color: lemonchiffon;
}

#fab.hidden {
    right: -25px;
}

#new-snippet {
    flex-grow: 1;
    padding: 0.5rem;
    background-color: lemonchiffon;
    outline: none;
    border: none;
}

#save-snippet-button {
    flex-grow: 0;
}

#toast-notification {
    position: absolute;
    background-color: lemonchiffon;
    color: darkred;
    border: 2px solid darkred;
    border-radius: 0.2rem;
    padding: 0.2rem;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%) scale(var(--s, 0));
    font-size: 1.5rem;
    transition: transform 500ms ease-in-out;
}

#toast-notification.show {
    --s: 1;
}